.from-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
    box-shadow: 0 0.188em 1.550em black;
    border-radius: 20px;
}

.from-container a {
    color: black;
    text-decoration: none;
}

.header-logout {
    cursor: pointer;
}