* {
    box-sizing: border-box;
    background-color: #a79794
}

h1 {
    background-color: #cfcbca;
}

.cover {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 14em;
}

.cover-form {
    background-color: #cfcbca;
    width: 20em;
    height: 25em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text-input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}

.password-input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.login-btn {
    width: 40%;
    height: 3em;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}